@import "tailwindcss";

@theme {
  --spacing: 4px;

  --font-body: var(--font-dm-sans), sans-serif;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --color-white: #ffffff;
  --color-black: #2b2b2b;
  --color-primary-black: #000000;
  --color-neutral: #525252;
  --color-hero-bg: #faf8f4;
  --color-hero-img: #f6f1eb;
  --color-light-green: #a8c47a;
  --color-primary-green: #2d4a2d;
  --color-secondary-green: #1a2e1a;

  --font-geo: Georgia, serif;
  --font-sego: "Segoe UI", sans-serif;
}

/* ?==================================== */
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
